# PyCity Schools Analysis

- Charter School students greatly outperformed all other students.
- Small to medium sized schools saw the best overall student results.
- There does not seem to be a positive correlation between money spent and student achievement.
  
---

In [34]:
# Import Dependencies and Setup
import pandas as pd
from pathlib import Path

# File Paths
school_path = Path("../PyCitySchools_start/Resources/schools_complete.csv")
student_path = Path("../PyCitySchools_start/Resources/students_complete.csv")

# Read .csv files
school_df = pd.read_csv(school_path)
student_df = pd.read_csv(student_path)

In [22]:
# Merge data into single dataset
schools_complete_df= pd.merge(student_df, school_df, how="left", on="school_name")

schools_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,budget_per_student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0

## District Summary

In [3]:
# Total number of Unique Scools
school_count = school_df["school_name"].count()
school_count

15

In [4]:
# Total Number of Students
student_count = student_df["student_name"].count()
student_count

39170

In [5]:
# Total Budget
total_budget = school_df["budget"].sum()
total_budget

24649428

In [6]:
# Average Math Score
math_avg = student_df["math_score"].mean()
math_avg

78.98537145774827

In [7]:
# Average Reading Score
reading_avg = student_df["reading_score"].mean()
reading_avg

81.87784018381414

In [8]:
# Percentage of Students passing Math
student_df_pass_math = student_df[(student_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = (student_df_pass_math / student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Pecentage of Students passing Reading
student_df_pass_reading = student_df[(student_df["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = (student_df_pass_reading / student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Percentage of Students passing Math and Reading
passing_math_reading_count = student_df[(student_df["math_score"] >=70)
                                       & (student_df["reading_score"] >=70)].count()["student_name"]
overall_pass_rate = (passing_math_reading_count / student_count) *100
overall_pass_rate

65.17232575950983

In [38]:

district_summary = pd.DataFrame([{"Total Schools": school_count, "Total Students": student_count, "Total Budget": total_budget, 
                                  "Average Math Score": math_avg, "Average Reading Score": reading_avg, "% Passing Math": passing_math_percentage, 
                                  "% Passing Reading": passing_reading_percentage, "% Overall Passing": overall_pass_rate}])

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [44]:
school_types = school_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [43]:
per_school_counts = schools_complete_df["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [50]:
#calculate budget per student
per_school_budget = school_df.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts

per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [58]:
# Calculate the average test scores per school

In [52]:
# Students Per School passing Math

students_passing_math = schools_complete_df[(schools_complete_df["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
per_school_passing_math = school_students_passing_math / per_school_counts * 100


per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [55]:
# Students Per School Passing Reading
students_passing_reading = schools_complete_df[(schools_complete_df["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100

per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [62]:
# Students per School Passing Math and Reading
students_passing_math_and_reading = schools_complete_df[
    (schools_complete_df["reading_score"] >= 70) & (schools_complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
per_school_overall_passing = school_students_passing_math_and_reading / per_school_counts * 100

In [68]:
# create dataframe that includes: School Name, School Type, Total Students,
# Total School Budget, Per Student Budget, Average Math Score, Average Reading Score,
# % Passing Math, % Passing Reading, % Passing Math and Reading
per_school_summary = pd.DataFrame([{"School Type": school_types, 
                    "Total Students": per_school_counts, "Total School_Budget": per_school_budget, 
                    "Per Student Budget": per_school_capita, "% Passing Math": per_school_passing_math, "% Passing Reading": 
                    per_school_passing_reading, "% Passing Math and Reading": per_school_overall_passing }])

per_school_summary

,School Type,Total Students,Total School_Budget,Per Student Budget,% Passing Math,% Passing Reading,% Passing Math and Reading
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Huang High School 1910635 F...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

In [ ]:
# Calculate the average test scores per school

# Highest Performing Schools by % Overall Passing

# Lowest Performing Schools by % Overall Passing

# Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = schools_complete_df[(schools_complete_df["grade"] == "9th")]
tenth_graders = schools_complete_df[(schools_complete_df["grade"] == "10th")]
eleventh_graders = schools_complete_df[(schools_complete_df["grade"] == "11th")]
twelfth_graders = schools_complete_df[(schools_complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

# Reading Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = schools_complete_df[(schools_complete_df["grade"] == "9th")]
tenth_graders = schools_complete_df[(schools_complete_df["grade"] == "10th")]
eleventh_graders = schools_complete_df[(schools_complete_df["grade"] == "11th")]
twelfth_graders = schools_complete_df[(schools_complete_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

# Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

# Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

# Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary